<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>

<p>Added <%= total %> activities</p>

<a href="/">Home</a>

<% include ../partials/footer %>

</html>
