<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<main role="main" class="container">

	<p class="lead">Error: <%= error %></p>

	<a class="btn btn-primary my-2" href="/">Home</a>
</main>


</html>
