<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>
<% if(end) { %>
	<% include ../partials/map%>
<% } else { %>
	<h1>We did it!</h1>
<% } %>

<hr/>
<main role="main" class="container">

<% include ../partials/route%>
<br/>


<h2 class="padding-top: 25%">Activities</h2>
<% include ../partials/table %>
<br/>

</main>
<% include ../partials/footer %>
</html>
